<div class="pageTitle">
    <h1><%= @question.title %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a href="<%= Rho::RhoConfig.start_path %>">Back</a>
  </div>
</div>
<div class="content">
    <h1 class="groupTitle"><%= @question.q %></h1>

    <% if !GeoLocation.known_position? %>
        <ul>
            <li>
                <a href="<%= url_for :action => :show, :id => @question.object %>" target="_self">retry fetching
                    location</a>
            </li>
        </ul>
    <% else %>
        <% if @question.long == nil %>

            Position found.
            <ul>
                <li>
                    <a href="<%= url_for :action => :tracking, :id => @question.object %>">
                        <span class="title">Start tracking</span><span class="disclosure_indicator"></span>
                    </a>
                </li>
            </ul>
        <% elsif @question.answer == "true" %>
            You have walked over 100 meters
        <% else %>
            Distance walked <%= @distance.to_s %>
            <ul>
                <li>
                    <a href="<%= url_for :action => :show, :id => @question.object %>" target="_self">refresh</a>
                </li>
            </ul>
        <% end %>
    <% end %>
</div>
