<div class="pageTitle">
	<h1><%= @question.title %></h1>
</div>

<div class="toolbar">
	<div id="leftItem" class="leftItem backButton"><%= link_to "Back", :action => :index %></div>
</div>

<div class="content">
	<form method="POST" action="<%= url_for :action => :update %>">
		<input type="hidden" name="id" value="<%= @question.object %>"/>

		<h1 class="groupTitle"><%= @question.q %></h1>
		<img src="/public/eagle.jpg" width="100%" alt="eagle">
		<ul>
			<li>
			<label for="question[answer]">Eagle</label>
			<% if @question.answer == "eagle" %> 
				<input type="checkbox" name="question[answer]" checked="checked" value="eagle"/>
			<% else %>
				<input type="checkbox" name="question[answer]" value="eagle"/>
			<% end %>
			</li>
			<li>
			<label for="question[answer]">White-throated Dipper</label>
			<% if @question.answer == "white-throated-dipper" %> 
				<input type="checkbox" name="question[answer]" checked="checked" value="white-throated-dipper"/>
			<% else %>
				<input type="checkbox" name="question[answer]" value="white-throated-dipper"/>
			<% end %>
			</li>
			<li>
			<label for="question[answer]">Blue Tit</label>
			<% if @question.answer == "blue-tit" %> 
				<input type="checkbox" name="question[answer]" checked="checked" value="blue-tit"/>
			<% else %>
				<input type="checkbox" name="question[answer]" value="blue-tit"/>
			<% end %>
			</li>
			<li>
			<label for="question[answer]">Seagull</label>
			<% if @question.answer == "seagull" %> 
				<input type="checkbox" name="question[answer]" checked="checked" value="seagull"/>
			<% else %>
				<input type="checkbox" name="question[answer]" value="seagull"/>
			<% end %>
			</li>
		</ul>
		<input type="submit" class="standardButton" value="Svar" />
	</form>
</div>
